.hero {
  background-image: url("../images/heroimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: relative;
  z-index: -1;
  @include sp {
    background-position: 50% 50%;
  }
}
