$pc: 1024px;
$tab: 768px;
$sp: 480px;

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #b62f34;
$color-blue: #2980b9;
$color-purple: #8e44ad;
$color-green: #16a085;
$color-yellow: #e0dd0a;
$color-pink: #c02b7dc7;
